:root {
    --colorPrimario: #49B35B;
    --colorSecundario: #4E8056;
    --colorTerciario: #31E650;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.centrar {
    text-align: center;
}
.wwww {
    width: 33.3%;
}
h1 {
    color: var(--colorPrimario);
}
h3 {
    color: var(--colorSecundario);
}
h2 {
    color: var(--colorTerciario);
}
.imgYo {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}
.parentTable {
    width: 90%;
    margin: auto;
}

.parentTable {
    border-spacing: 10px;
}

.parentTable, .thParent, .tdParent {
    border: 2px solid var(--colorPrimario);
    border-radius: .5rem;
}

.asaa {
    margin: 0 auto;
    width: min-content;
}

.divStyle {
    border: 5px solid var(--colorTerciario);
}

.bef {
    font-weight: bold;
}

.tableSkills {
    border-collapse: collapse;
    margin: auto;
}

.logo {
    width: 50px;
}
.star {
    width: 30px;
    margin-bottom: 15px;
}

.pad {
    padding: 10px;
}